#grid1 div[class^="col"] {
    border: 4px solid black;
    min-height: 275px;
}

.blue {
    background-color: #8fbaef;
}

.yellow {
    background-color: #ffed7f;
}

.gray {
    background-color: #e4e4e4;
}

.red {
    background-color: #e49e9e;
}

.green {
    background-color: #addcae;
}
/* END OF FIRST GRID */
#grid2 div[class^="col"] {
    background-color: #92AD82;
    border: 10px solid white;
    min-height: 75px;
}

#box2 {
    height: 25%;
}

#box3 {
    height: 75%;
}

#box4 {
    
}

#thumbnail {
    
}

#box5 {
    
}

#box6 {
    
}

#footer {

}